@import '../../../../../sass/rem-calc.scss';

:host {
  .container {
    padding: rem-calc(5);
  }

  .skill {
    display: flex;
    width: 100%;
  }

  .skill-input {
    width: rem-calc(24);
    height: 100%;
    border-top: 0px;
    border-right: 0px;
    border-left: 0px;
    text-align: center;
    background-color: transparent;
    border-color: rgb(12, 110, 3);
  }

  .skill-input-group {
    display: flex;
    justify-content: space-around;
    width: 40%;
  }

  .skill-check-group {
    display: flex;
    align-items: center;
    justify-content: space-around;
    width: 50%;
  }

  .skill-check {
    width: rem-calc(16);
    height: rem-calc(16);
    border: solid #180202;
    border-width: 1px;
  }

  .skill-check-ative {
    background-color: #43cf0a !important;
  }

  .skill-trained {
    width: rem-calc(8);
    height: rem-calc(8);
    background-color: black;
  }

  .skill-not-trained {
    width: rem-calc(8);
    height: rem-calc(8);
    background-color: transparent !important;
  }

  .icon-size {
    font-size: rem-calc(24);
    margin-left: rem-calc(5);
  }

  /* Chrome, Safari, Edge, Opera */
  input::-webkit-outer-spin-button,
  input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
  }
}
