<div class="container d-flex-row">
  <button mat-button (click)="openDialog()">Atualizar Campanha</button>
</div>

<div class="container">
  <mat-accordion>
    <mat-expansion-panel hideToggle class="background-color">
      <mat-expansion-panel-header>
        <mat-panel-title> Conhecidos </mat-panel-title>
        <mat-panel-description>
          <b>30/40</b>
        </mat-panel-description>
      </mat-expansion-panel-header>
      <div class="item">
        <div class="item-description">
          <p class="item-description-quantidade">4x</p>
          <p>Raçoes Comuns</p>
        </div>
        <i class="fa-solid fa-minus icon"></i>
        <i class="fa-solid fa-plus icon"></i>
      </div>
      <mat-divider></mat-divider>

      <div class="item">
        <div class="item-description">
          <p class="item-description-quantidade">4x</p>
          <p>Kit Médicos</p>
        </div>
        <i class="fa-solid fa-minus icon"></i>
        <i class="fa-solid fa-plus icon"></i>
      </div>
      <mat-divider></mat-divider>

      <div class="item">
        <div class="item-description">
          <p class="item-description-quantidade">4x</p>
          <p>Torcha</p>
        </div>
        <i class="fa-solid fa-minus icon"></i>
        <i class="fa-solid fa-plus icon"></i>
      </div>
      <mat-divider></mat-divider>
    </mat-expansion-panel>
  </mat-accordion>
</div>

<div class="container">
  <mat-accordion>
    <mat-expansion-panel hideToggle class="background-color">
      <mat-expansion-panel-header>
        <mat-panel-title> Observações </mat-panel-title>
        <mat-panel-description>
          <b>30/40</b>
        </mat-panel-description>
      </mat-expansion-panel-header>
      <div class="item">
        <div class="item-description">
          <p class="item-description-quantidade">4x</p>
          <p>Raçoes Comuns</p>
        </div>
        <i class="fa-solid fa-minus icon"></i>
        <i class="fa-solid fa-plus icon"></i>
      </div>
      <mat-divider></mat-divider>

      <div class="item">
        <div class="item-description">
          <p class="item-description-quantidade">4x</p>
          <p>Kit Médicos</p>
        </div>
        <i class="fa-solid fa-minus icon"></i>
        <i class="fa-solid fa-plus icon"></i>
      </div>
      <mat-divider></mat-divider>

      <div class="item">
        <div class="item-description">
          <p class="item-description-quantidade">4x</p>
          <p>Torcha</p>
        </div>
        <i class="fa-solid fa-minus icon"></i>
        <i class="fa-solid fa-plus icon"></i>
      </div>
      <mat-divider></mat-divider>
    </mat-expansion-panel>
  </mat-accordion>
</div>

<div class="container">
  <mat-accordion>
    <mat-expansion-panel hideToggle class="background-color">
      <mat-expansion-panel-header>
        <mat-panel-title> Missões </mat-panel-title>
        <mat-panel-description>
          <b>500</b>
        </mat-panel-description>
      </mat-expansion-panel-header>
      <div class="item">
        <div class="item-description">
          <p class="item-description-quantidade">4x</p>
          <div class="item-description-resumo">
            <p>Raçoes Comuns</p>
            <p>500 PO</p>
          </div>
        </div>
        <i class="fa-solid fa-minus icon"></i>
        <i class="fa-solid fa-plus icon"></i>
      </div>
      <mat-divider></mat-divider>

      <div class="item">
        <div class="item-description">
          <p class="item-description-quantidade">4x</p>
          <div class="item-description-resumo">
            <p>Kit Médico</p>
            <p>100 PO</p>
          </div>
        </div>
        <i class="fa-solid fa-minus icon"></i>
        <i class="fa-solid fa-plus icon"></i>
      </div>
      <mat-divider></mat-divider>

      <div class="item">
        <div class="item-description">
          <p class="item-description-quantidade">4x</p>
          <div class="item-description-resumo">
            <p>Tenda Grande</p>
            <p>500 PO</p>
          </div>
        </div>
        <i class="fa-solid fa-minus icon"></i>
        <i class="fa-solid fa-plus icon"></i>
      </div>
      <mat-divider></mat-divider>
    </mat-expansion-panel>
  </mat-accordion>
</div>
