:root {
  --primary-color-0: #000000;
  --primary-color-10: #002202;
  --primary-color-20: #003a06;
  --primary-color-25: #004609;
  --primary-color-30: #00530c;
  --primary-color-35: #006110;
  --primary-color-40: #006e13;
  --primary-color-50: #008b1b;
  --primary-color-60: #08a825;
  --primary-color-70: #3ac43f;
  --primary-color-80: #5ae158;
  --primary-color-90: #77fe71;
  --primary-color-95: #c9ffbd;
  --primary-color-98: #ecffe3;
  --primary-color-99: #f6ffef;
  --primary-color-100: #ffffff;

  --secondary-color-0: #000000;
  --secondary-color-10: #002202;
  --secondary-color-20: #003a06;
  --secondary-color-25: #02460a;
  --secondary-color-30: #135215;
  --secondary-color-35: #215e20;
  --secondary-color-40: #2e6b2b;
  --secondary-color-50: #478542;
  --secondary-color-60: #619f59;
  --secondary-color-70: #7abb71;
  --secondary-color-80: #95d78a;
  --secondary-color-90: #b0f4a4;
  --secondary-color-95: #c9ffbd;
  --secondary-color-98: #ecffe3;
  --secondary-color-99: #f6ffef;
  --secondary-color-100: #ffffff;

  --tertiary-color-0: #000000;
  --tertiary-color-10: #001d36;
  --tertiary-color-20: #003257;
  --tertiary-color-25: #003d69;
  --tertiary-color-30: #00497c;
  --tertiary-color-35: #00558f;
  --tertiary-color-40: #0061a2;
  --tertiary-color-50: #007bcb;
  --tertiary-color-60: #0095f5;
  --tertiary-color-70: #61b0ff;
  --tertiary-color-80: #9dcaff;
  --tertiary-color-90: #d1e4ff;
  --tertiary-color-95: #e9f1ff;
  --tertiary-color-98: #f8f9ff;
  --tertiary-color-99: #fdfcff;
  --tertiary-color-100: #ffffff;

  --neutral-color-0: #000000;
  --neutral-color-10: #161e14;
  --neutral-color-20: #2b3328;
  --neutral-color-25: #363e33;
  --neutral-color-30: #41493e;
  --neutral-color-35: #4d5549;
  --neutral-color-40: #586155;
  --neutral-color-50: #717a6d;
  --neutral-color-60: #8b9386;
  --neutral-color-70: #a5aea0;
  --neutral-color-80: #c1c9ba;
  --neutral-color-90: #dde5d6;
  --neutral-color-95: #ebf3e4;
  --neutral-color-98: #f4fcec;
  --neutral-color-99: #f6ffef;
  --neutral-color-100: #ffffff;
  --neutral-color-4: #091008;
  --neutral-color-6: #0e150c;
  --neutral-color-12: #1a2218;
  --neutral-color-17: #242c22;
  --neutral-color-22: #2f372c;
  --neutral-color-24: #333b31;
  --neutral-color-87: #d4ddcd;
  --neutral-color-92: #e2ebdb;
  --neutral-color-94: #e8f1e1;
  --neutral-color-96: #eef6e7;
}
