:root {
  --primary-color: #7abb71;
  --primary-color-10: #dbf9d7;
  --primary-color-20: #a0f394;
  --primary-color-30: #8cd581;
  --primary-color-40: #7abb71;
  --primary-color-50: #6ea966;
  --primary-color-60: #5d9056;
  --primary-color-70: #4b7645;
  --primary-color-80: #385933;
  --primary-color-90: #253d21;
  --primary-color-100: #122210;
  --primary-color-110: #091307;

  --secondary-color: #ba8d70;
  --secondary-color-10: #f7efeb;
  --secondary-color-20: #eedbd2;
  --secondary-color-30: #e1bca7;
  --secondary-color-40: #d4a181;
  --secondary-color-50: #ba8d70;
  --secondary-color-60: #a57c62;
  --secondary-color-70: #886650;
  --secondary-color-80: #684e3d;
  --secondary-color-90: #483528;
  --secondary-color-100: #281c14;
  --secondary-color-110: #180f0a;

  --terciary-color: #7670ba;
  --terciary-color-10: #f0f0f8;
  --terciary-color-20: #dddbee;
  --terciary-color-30: #bfbce0;
  --terciary-color-40: #a4a1d3;
  --terciary-color-50: #8c88c7;
  --terciary-color-60: #7670ba;
  --terciary-color-70: #645dae;
  --terciary-color-80: #4d4598;
  --terciary-color-90: #352f6c;
  --terciary-color-100: #1c1940;
  --terciary-color-110: #100d28;

  --neutral-color-a: #596558;
  --neutral-color-a-10: #eaf3e9;
  --neutral-color-a-20: #cae4c8;
  --neutral-color-a-30: #afc5ad;
  --neutral-color-a-40: #97aa95;
  --neutral-color-a-50: #81917f;
  --neutral-color-a-60: #6c7a6b;
  --neutral-color-a-70: #596558;
  --neutral-color-a-80: #485247;
  --neutral-color-a-90: #323a32;
  --neutral-color-a-100: #1b201a;
  --neutral-color-a-110: #0e120e;

  --neutral-color-b: #3B3029;
  --neutral-color-b-10: #f5f0ed;
  --neutral-color-b-20: #e6d9d2;
  --neutral-color-b-30: #d3b6a4;
  --neutral-color-b-40: #b89a87;
  --neutral-color-b-50: #9b8272;
  --neutral-color-b-60: #816b5d;
  --neutral-color-b-70: #68564b;
  --neutral-color-b-80: #514239;
  --neutral-color-b-90: #3b3029;
  --neutral-color-b-100: #241d18;
  --neutral-color-b-110: #15100c;
}
