<div class="form">
  <mat-card class="bg-color-white mt-5" appearance="outlined">
    <mat-card-header class="w-100">
      <mat-card-title ><input class="input-form-title m-0" value="Espada Longa"/></mat-card-title>
      <mat-card-subtitle>Arma #1</mat-card-subtitle>
    </mat-card-header>
    <mat-card-content>
      <div class="d-flex-column">
        <div class="d-flex-row d-flex-space-between mt-5">
          <div class="d-flex-column" style="width: 46%;">
            <div class="input-form-description">Bonus de Ataque</div>
            <input class="input-form text-center m-0" value="+4"/>
          </div>
          <div class="d-flex-column" style="width: 25%;">
            <div class="input-form-description">Dano</div>
            <input class="input-form text-center m-0" value="1d4+1"/>
          </div>
          <div class="d-flex-column" style="width: 25%;">
            <div class="input-form-description">Decisivo</div>
            <input class="input-form text-center m-0" value="19-20(x2)"/>
          </div>
        </div>
        <div class="d-flex-row d-flex-space-between mt-5">
          <div class="d-flex-column" style="width: 20%;">
            <div class="input-form-description">Alcance</div>
            <input class="input-form text-center m-0" value="6m"/>
          </div>
          <div class="d-flex-column" style="width: 20%;">
            <div class="input-form-description">Tipo</div>
            <input class="input-form text-center m-0" value="Perfurante"/>
          </div>
          <div class="d-flex-column" style="width: 20%;">
            <div class="input-form-description">Tamanho</div>
            <input class="input-form text-center m-0" value="P"/>
          </div>
          <div class="d-flex-column" style="width: 34%;">
            <div class="input-form-description">Propriedades</div>
            <input class="input-form text-center m-0" value="Arremesso"/>
          </div>
        </div>
      </div>
    </mat-card-content>
  </mat-card>

  <mat-card class="bg-color-white mt-5" appearance="outlined">
    <mat-card-header>
      <mat-card-title><input class="input-form-title m-0" value="Arco Longo"/></mat-card-title>
      <mat-card-subtitle>Arma #2</mat-card-subtitle>
    </mat-card-header>
    <mat-card-content>
      <div class="d-flex-column">
        <div class="d-flex-row d-flex-space-between mt-5">
          <div class="d-flex-column" style="width: 46%;">
            <div class="input-form-description">Bonus de Ataque</div>
            <input class="input-form text-center m-0" value="+4"/>
          </div>
          <div class="d-flex-column" style="width: 25%;">
            <div class="input-form-description">Dano</div>
            <input class="input-form text-center m-0" value="1d4+1"/>
          </div>
          <div class="d-flex-column" style="width: 25%;">
            <div class="input-form-description">Decisivo</div>
            <input class="input-form text-center m-0" value="19-20(x2)"/>
          </div>
        </div>
        <div class="d-flex-row d-flex-space-between mt-5">
          <div class="d-flex-column" style="width: 20%;">
            <div class="input-form-description">Alcance</div>
            <input class="input-form text-center m-0" value="6m"/>
          </div>
          <div class="d-flex-column" style="width: 20%;">
            <div class="input-form-description">Tipo</div>
            <input class="input-form text-center m-0" value="Perfurante"/>
          </div>
          <div class="d-flex-column" style="width: 20%;">
            <div class="input-form-description">Tamanho</div>
            <input class="input-form text-center m-0" value="P"/>
          </div>
          <div class="d-flex-column" style="width: 34%;">
            <div class="input-form-description">Propriedades</div>
            <input class="input-form text-center m-0" value="Arremesso"/>
          </div>
        </div>
      </div>
    </mat-card-content>
  </mat-card>

  <mat-card class="bg-color-white mt-5" appearance="outlined">
    <mat-card-header>
      <mat-card-title><input class="input-form-title m-0" value="Malha Completa"/></mat-card-title>
      <mat-card-subtitle>Armadura</mat-card-subtitle>
    </mat-card-header>
    <mat-card-content>
      <div class="d-flex-column">
        <div class="d-flex-row d-flex-space-between mt-5">
          <div class="d-flex-column" style="width: 31%;">
            <div class="input-form-description">Tipo</div>
            <input class="input-form text-center m-0" value="Placa de Aço"/>
          </div>
          <div class="d-flex-column" style="width: 30%;">
            <div class="input-form-description">Bonus CA</div>
            <input class="input-form text-center m-0" value="+5"/>
          </div>
          <div class="d-flex-column" style="width: 35%;">
            <div class="input-form-description">Bonus Max(DES)</div>
            <input class="input-form text-center m-0" value="4"/>
          </div>
        </div>
        <div class="d-flex-row d-flex-space-between mt-5">
          <div class="d-flex-column" style="width: 20%;">
            <div class="input-form-description">Penal.</div>
            <input class="input-form text-center m-0" value="6"/>
          </div>
          <div class="d-flex-column" style="width: 20%;">
            <div class="input-form-description">Desloc.</div>
            <input class="input-form text-center m-0" value="-1.5m"/>
          </div>
          <div class="d-flex-column" style="width: 20%;">
            <div class="input-form-description">Tamanho</div>
            <input class="input-form text-center m-0" value="P"/>
          </div>
          <div class="d-flex-column" style="width: 34%;">
            <div class="input-form-description">Propriedades</div>
            <input class="input-form text-center m-0" value="Reduçao de Calor"/>
          </div>
        </div>
      </div>
    </mat-card-content>
  </mat-card>

  <mat-card class="bg-color-white mt-5" appearance="outlined">
    <mat-card-header>
      <mat-card-title><input class="input-form-title m-0" value="Escudo Grande"/></mat-card-title>
      <mat-card-subtitle>Escudo</mat-card-subtitle>
    </mat-card-header>
    <mat-card-content>
      <div class="d-flex-column">
        <div class="d-flex-row d-flex-space-between mt-5">
          <div class="d-flex-column" style="width: 46%;">
            <div class="input-form-description">Bonus CA</div>
            <input class="input-form text-center m-0" value="+4"/>
          </div>
          <div class="d-flex-column" style="width: 25%;">
            <div class="input-form-description">Penal.</div>
            <input class="input-form text-center m-0" value="1d4+1"/>
          </div>
          <div class="d-flex-column" style="width: 25%;">
            <div class="input-form-description">Deslocamento</div>
            <input class="input-form text-center m-0" value="19-20(x2)"/>
          </div>
        </div>
        <div class="d-flex-row d-flex-space-between mt-5">
          <div class="d-flex-column" style="width: 35%;">
            <div class="input-form-description">Bonus Max(DES)</div>
            <input class="input-form text-center m-0" value="6m"/>
          </div>
          <div class="d-flex-column" style="width: 63%;">
            <div class="input-form-description">Propriedade</div>
            <input class="input-form text-center m-0" value="Perfurante"/>
          </div>
        </div>
      </div>
    </mat-card-content>
  </mat-card>
</div>
