@use 'rem-calc'as *;

:host {
  --nav-head-color: var(--primary-color-80);
  --nav-background-color: var(--neutral-color-b-10);
  --mat-sidenav-container-divider-color: transparent;

  --mat-list-list-item-label-text-color: var(--primary-color-100);
  --mat-list-list-item-label-text-font: MedievalSharp, cursive;
  --mat-list-list-item-hover-label-text-color: var(--primary-color-60);

  --p-accordion-header-background:  var(--neutral-color-b-10);
  --p-accordion-panel-border-color: var(--neutral-color-b-10);

  --p-accordion-content-background: var(--primary-color-80);
  --p-accordion-content-border-color: var(--primary-color-80);

  --p-accordion-header-active-background: var(--primary-color-70);
  --p-accordion-header-active-hover-background: var(--primary-color-70);
  --p-accordion-header-hover-background: var(--primary-color-70);

  --p-accordion-header-padding: 0.5rem;

  --p-accordion-header-color: var(--primary-color-100);
  --p-accordion-header-hover-color: var(--primary-color-30);

  --p-accordion-header-active-color: var(--primary-color-30);
  --p-accordion-header-active-hover-color: var(--primary-color-100);

  --p-accordion-header-first-top-border-radius: 0px;
  --p-accordion-header-last-bottom-border-radius: 0px;
  --p-accordion-content-padding: 0.313rem;

  .sidenav-container {
    height: 100%;
    background-color: inherit;
  }

  .sidenav {
    width: rem-calc(150);
    border-top-right-radius: 0px;
    border-top-left-radius:  0px;
    border-bottom-right-radius: 0px;
    background-color: var(--nav-background-color);
  }

  .sidenav-small {
    width: rem-calc(50);
    border-top-right-radius: 0px;
    border-top-left-radius: 0px;
    border-bottom-right-radius: 0px;
    background-color: var(--nav-background-color);
  }

  .sidenav-container .mat-toolbar {
    font-family: "MedievalSharp", cursive;
    font-weight: 400;
    background: inherit;
    background-color: var(--nav-head-color);
    height: rem-calc(40);
    color: var(--primary-color-30);
  }

  .mat-toolbar.mat-primary {
    position: sticky;
    top: 0;
    z-index: 1;
  }

  .container {
    display: flex;
    flex-direction: column;
    height: calc(100vh - rem-calc(40));
    padding: rem-calc(10);
    overflow: auto;
  }

  mat-sidenav, .sidenav, .sidenav-small {
    transition: width 0.3s ease;
    overflow: hidden;
  }

  mat-sidenav-content {
    transition: margin-left 0.3s ease, padding 0.3s ease;
    margin-left: rem-calc(150);
  }

  mat-sidenav-content .container {
    margin-left: 0;
  }

  .nav-item {
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    height: rem-calc(24);
    transition: background-color 200ms ease 0s;
    color: var(--primary-color-30);
    border-radius: rem-calc(8);
  }

  .nav-item:hover {
    background-color: var(--primary-color-40);
    color: var(--primary-color-100);
    border-radius: rem-calc(8);
  }
}
