<div class="container">
  <mat-card class="player-description" appearance="outlined" >
    <mat-card-header>
      <div mat-card-avatar class="example-header-image"></div>
      <mat-card-title> Geraldo da Estrela na Testa</mat-card-title>
      <mat-card-subtitle>Mago Elemental & Alta Mágia</mat-card-subtitle>
      <mat-card-subtitle>Nível 1</mat-card-subtitle>
    </mat-card-header>
  </mat-card>
  <mat-tab-group mat-stretch-tabs="false" mat-align-tabs="start">
    <mat-tab label="Armas">
        Content 1
    </mat-tab>
    <mat-tab label="Perícias">
      <app-player-sheet-skill-list />
    </mat-tab>
    <mat-tab label="Grimório">Content 3</mat-tab>
    <mat-tab label="Campanha">Content 3</mat-tab>
  </mat-tab-group>
</div>
