<div class="container">
  <div class="grid">
    <div class="item-header">Habilidade</div>
    <div class="item-header">Valor</div>
    <div class="item-header">MOD</div>
    <div class="item-header">Valor Temp.</div>
    <div class="item-header">MOD. Temp.</div>

    <div class="item">FOR</div>
    <div class="item">6</div>
    <div class="item">-2</div>
    <div class="item"></div>
    <div class="item"></div>

    <div class="item">DES</div>
    <div class="item">17</div>
    <div class="item">+3</div>
    <div class="item"></div>
    <div class="item"></div>

    <div class="item">CON</div>
    <div class="item">10</div>
    <div class="item">0</div>
    <div class="item"></div>
    <div class="item"></div>

    <div class="item">INT</div>
    <div class="item">18</div>
    <div class="item">+4</div>
    <div class="item"></div>
    <div class="item"></div>

    <div class="item">SAB</div>
    <div class="item">16</div>
    <div class="item">+3</div>
    <div class="item"></div>
    <div class="item"></div>

    <div class="item">CAR</div>
    <div class="item">10</div>
    <div class="item">0</div>
    <div class="item"></div>
    <div class="item"></div>
  </div>
</div>


