@use 'rem-calc' as *;

:host {
  .container {
    display: flex;
    flex-direction: row;
    line-height: 150%;
    height: rem-calc(120);
    padding: rem-calc(10);
    margin-bottom: rem-calc(5);
    background-color: #c9c9c9;
    -webkit-border-radius: rem-calc(20);
    -moz-border-radius: rem-calc(20);
    border-radius: rem-calc(20);
  }
  .final-result{
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    width: 25%;
  }
  .resume {
    width: 75%;
    font-size: rem-calc(16);
  }
  .player-name {
    text-align: center;
    text-wrap: nowrap;
    font-size: rem-calc(24);
  }
  b {
    font-weight: 700;
  }
  .list-dice{
    font-size: rem-calc(16);
  }
}
